$grey: #bfbfbf;
$light-grey: #efeded;
$black: #000000;
$radius-value: 3px;
$box-max-width: 70vw;

.review {
    display: inline-block;
    margin: 2rem;
    padding: 1.1rem;
    max-width: $box-max-width;
    border-radius: $radius-value;
    border: 1px solid $grey;
    background-color: $light-grey;
    box-shadow: 0px 0px 15px rgba($black, 0.25);
  
    #{&} &__title {
      margin: 0 0 1rem 0;
      font-size: 1.5rem;
    }
  
    #{&} &__score {
      display: flex;
      align-items: center;
      margin-bottom: 0.8rem;
  
      .score {
        //margin-right: 1rem;
        font-size: 2rem;
      }
  
      .score-stars {
        margin-left: 0.8rem;
      }
    }
    #{&} &__text {
      line-height: 1.45;
    
    }
  }

  .star-ratings-css {
    unicode-bidi: bidi-override;
    color: #c5c5c5;
    font-size: 25px;
    height: 25px;
    width: 100px;
    margin: 0 auto;
    position: relative;
    padding: 0;
    text-shadow: 0px 1px 0 #a2a2a2;
    
    &-top {
      color: #e7711b;
      padding: 0;
      position: absolute;
      z-index: 1;
      display: block;
      top: 0;
      left: 0;
      overflow: hidden;
    }
    &-bottom {
      padding: 0;
      display: block;
      z-index: 0;
    }
  }
  