.image-container{
    height:65vh;
    width: 100%;
  background-image: url("../images/pexels-photo-370984.jpeg");
  background-size: cover auto;
  position: relative;
}

.head{
  font-size: 4em;
  letter-spacing: -0.02em;
  line-height: 1.2;
  font-weight: 500;
  position:absolute;
  bottom:10%;
  width: 100%;
  color: white;
  text-align: center;
  z-index: 2s;
}